<h1>Edit</h1>
  <form action="/edited-message/<%= @message.id %>" method="post">
    <textarea name="message" id="text" rows="3" cols="40"><%= @message.content %></textarea>
    <input type='submit' value='Update'>
  </form>
<br>
