<!DOCTYPE html>

<html>
<center>
<body>
  <h1>MessageApp</h1>
  <form action='/new-message' method='post'>
    <textarea name="message" cols="40" rows="5"></textarea><br>
    <input type='submit' value='Send'>
    </form>
    <br>
    <% @history.reverse.each do |ins| %>
      <a href="/messages/<%= ins.id %>"><%= ins.msg[0,20] %></a> - <%= ins.time %><br>
    <%end%>
</body>
</center>
</html>
