<!DOCTYPE html>

<html>
<center>
<body>
  <h1>MessageApp</h1>
  <form action='/message' method='post'>
    <textarea name="content" cols="40" rows="5"></textarea><br>
    <input type='submit' value='Send'>
  </form>
    <br>
    <% @messages.reverse.each do |message| %>
      <a href="/messages/<%= message.id %>"> <%= message.content[0...20] %></a> - <%= message.timestamp %><br>
    <%end%>   
</body>
</center>
</html>
